#result {
  display: none;
}

.container {
  text-align: center;
}

.jumbotron {
  background-image: url("../img/Pong_Banner.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 300px;
}

p {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}

#result {
  margin-top: 20px;
}
